.sideLinks {
    padding: 16px;
    margin: 4px 0px;
    cursor: pointer;
}

.navLink {
    color: black !important;
    text-decoration: none;
    background-color: blue;
}

.sideLinkActive {
    background-color: burlywood;
    /* border-radius: 0 25px 25px 0; */
}

.sideLinks:hover {
    background-color: rgb(243, 237, 229);
    /* border-radius: 0 25px 25px 0; */
}