.home {
    background: #ededf2;
    padding: 16px 8px;
}
.addWriting {
    margin-top: 8px;
    margin-bottom: 8px;
    display: block;
    text-align: right;
}

.addWritingButton {
    /* color: #050507 !important;
    border-radius: 25px; */
    padding: 8px 24px;
    /* box-shadow: none;
    border: 1px solid #a19f9f; */
    margin-right: 36px;
}

.addWritingButton:hover {
    background-color: burlywood !important;
    box-shadow: none;
}

.recentWritings {
    margin-top: 24px;
    padding: 5px 80px;
}

.searchContainer {
    display: flex;
    justify-content: center;
}